*{
    font-family: "montserrat";
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.red-bg{
    background-color: red;
}

.shadow{
    box-shadow: 0px 1px 1px;
}

.white-text{
    color: white;
}

.dim{
    width: auto;
    padding: 5px;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin: 10px 100px ;
}

.parent-dim{
    transition: 0.5s;
}

.img-dim{
    width: 100%;
    height: 250px;
}

.parent-dim:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.list{
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
}

.block{
    display: block;
}

#search{
    height: 20px;
    width: 50%;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

#loading{
    text-align: center;
}

#s-btn{
    height: 30px;
    padding: 5px;
    display: block;
    margin: 20px auto;
}

@media screen and (max-width : 1100px) {
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 25px;
        margin: 10px 40px ;
    }
}

@media screen and (max-width : 1000px) {
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 25px;
        margin: 10px 40px ;
    }
}
@media screen and (max-width : 800px) {
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 25px;
        margin: 10px 40px ;
    }
}
@media screen and (max-width : 500px) {
    #container{
        display: grid;
        grid-template-columns: 1fr ;
        column-gap: 25px;
        row-gap: 25px;
        margin: 10px 40px ;
    }
}

@media screen and (max-width : 300px) {
    #container{
        display: grid;
        grid-template-columns: 1fr ;
        column-gap: 25px;
        row-gap: 25px;
        margin: 10px 25px ;
    }
}

